* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #39925ad8;
    --background-color: #bfc3c7e7;
    --text-dark: #111827;
    --secondary-color: #5c5c5ece;
    --card-bg: #FFFFFF;
}

/** navbar styling **/
.navbar {
    width: 1320px;
    height: 100px;
    background-color: var(--background-color);
    margin: 0 auto;
}

nav {
    width: 1300px;
    height: 100px;
    background-color: var(--secondary-color);
    margin: 0 auto;
}


/** hero-section styling **/
.hero-section {
    width: 1320px;
    height: auto;
    background-color: var(--background-color);
    margin: 0 auto;
}

.hero {
    width: 1300px;
    height: 400px;
    background-color: var(--primary-color);
    margin: 0 auto;
}

/** projects section styling **/
.projects-section {
    width: 1300px;
    height: 400px;
    /* background-color: goldenrod; */
    margin: 0 auto;
}


/** about section styling **/
.about-section {
    width: 1300px;
    height: 250px;
    /* background-color: orangered; */
    margin: 0 auto;
}



/** contact section styling **/
.contact-section {
    width: 1300px;
    height: 200px;
    /* background-color: orchid; */
    margin: 0 auto;
}


/** footer styling **/
.footer {
    width: 1300px;
    height: 150px;
    /* background-color: olivedrab; */
    margin: 0 auto;
}