* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #39925ad8;
    --background-color: #bfc3c7e7;
    --text-dark: #111827;
    --secondary-color: #5c5c5ece;
    --card-bg: #FFFFFF;
}

/** navbar styling **/
.navbar {
    width: 1320px;
    height: 100px;
    background-color: var(--background-color);
    margin: 0 auto;
}

nav {
    width: 1300px;
    height: 100px;
    background-color: var(--secondary-color);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.logos h1 a {
    text-decoration: none;
    font-size: 32px;
    color: goldenrod;
}

.menu {
    display: flex;
    gap: 12px;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    color: var(--text-dark);
}

/** hero-section styling **/
.hero-section {
    width: 1320px;
    height: auto;
    background-color: var(--background-color);
    margin: 0 auto;
}

.hero {
    width: 1300px;
    height: 480px;
    /* background-color: var(--primary-color); */
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.right-side {
    width: 40%;
    height: 100%;
    /* background-color: teal; */
}

.image-div {
    width: 100%;
    height: 100%;
}

.image-div img {
    width: 80%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.left-side {
    width: 60%;
    height: 100%;
    background-color: thistle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0 12px;
}

.left-side h1 {
    font-size: 40px;
    color: var(--text-dark);
}

.left-side h1 span {
    color: slateblue;
}

.left-side p {
    font-size: 24px;
}

.buttos {
    display: flex;
    gap: 16px;
}

.buttos button {
    padding: 12px 24px;
    border: none;
    background-color: var(--text-dark);
    color: #ffffff;
    border-radius: 8px;
}

/** projects section styling **/
.projects-section {
    width: 1320px;
    height: 920px;
    background-color: var(--background-color);
    margin: 0 auto;
}

.projects {
    width: 1300px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.project-box {
    width: 400px;
    height: 420px;
    background-color: firebrick;
    margin: auto;
}

.project-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/** about section styling **/
.about-section {
    width: 1320px;
    height: 250px;
    background-color: var(--background-color);
    margin: 0 auto;
}

.about-me {
    width: 1300px;
    height: 100%;
    /* background-color: turquoise; */
    border: 2px solid firebrick;
    margin: 0 auto;
    padding: 16px;
}

.about-me h1 {
    text-align: center;
}

.about-me p {
    font-size: 22px;
    margin: 16px 0;
    text-align: justify;
    color: var(--text-dark);
}


/** contact section styling **/
.contact-section {
    width: 1320px;
    height: 400px;
    background-color: var(--background-color);
    margin: 0 auto;
    display: grid;
    place-items: center;
}

.contact-form {
    width: 1300px;
    height: 90%;
    background-color: sienna;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 120px;
}

.form-left {
    width: 50%;
    height: 50%;
    padding: 0px 40px;
    background-color: olive;
}

.form-left h1 {
    font-size: 52px;
    text-align: center;
    padding-bottom: 12px;
}

.form-left p {
    text-align: center;
    font-size: 22px;
}

form {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-box {
    width: 340px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: 2px solid grey;
    border-radius: 8px;
}

.text-area {
    width: 340px;
    height: 88px;
    padding: 10px 0 0 10px;
    outline: none;
    border: 2px solid grey;
    border-radius: 8px;
}

.submit {
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    margin-top: 16px;
}

/** footer styling **/
.footer {
    width: 1320px;
    height: 250px;
    background-color: var(--background-color);
    margin: 0 auto;
}

.footer-box {
    width: 1300px;
    height: 100%;
    background-color: var(--secondary-color);
    margin: 0 auto;
    display: grid;
    place-items: center;
}

.footer-box h1 {
   font-size: 44px;
}